{% extends "UnisoftAssetsBundle::layout.html.twig" %}
{% block title %}Users {% endblock %}
{% block content %}
 {% for flashMessage in app.session.flashbag.get('notice') %}
            <div  class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ flashMessage }}
	   </div>
        
{% endfor %}
<div class="row-fluid">
        <div class="span12">
            <table class="table table-striped table-bordered box">
                <thead>
                    <tr>
                        <th colspan="10">Users list</th>
                    </tr>
                </thead>

                <tbody>
                   
                    <tr style="font-weight: bold">
                        <td width="6%"><div align="center">#</div></td>
                        <td><div align="center">UserName</div></td>
                        <td><div align="center">First Name</div></td>
                        <td><div align="center">Last Name</div></td>
                        <td><div align="center">Address</div></td>
                        <td><div align="center">City</div></td>
                        <td><div align="center">Country</div></td>
                        <td><div align="center">Mobile</div></td>
                        <td><div align="center">Edit</div></td>
                       
                    </tr>
                        {% set count = 0 %}
                        {% for entity in entities  %}
                        {% set count = count+1 %}
                         <tr>
                             <td><div align="center">{{ count}}</div></td>
                             <td><div align="center">{{ entity.username }}</div></td>
                             <td><div align="center">{{ entity.firstname }}</div></td>
                             <td><div align="center">{{ entity.LastName }}</div></td>
                             <td><div align="center">{{ entity.Address }}</div></td>
                             <td><div align="center">{{ entity.City }}</div></td>
                             <td><div align="center">{{entity.Country }}</div></td>
                             <td><div align="center">{{ entity.Mobile }}</div></td>
                             <td><div align="center"><a class="button icon-edit" href="{{ path('User_edit', { 'id': entity.id }) }}"> Edit</a></div></td>
                                 
                             
                        </tr>
                     {% endfor %}
                        </td>
                    </tr>
                    
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="10">
                            <div class="clearfix" style="padding: 0 5px;">
                                <div class="pull-left">
                                    <a href="{{ path('User_new') }}" class="button blue" >Create</a>
                                                                      
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>


{% endblock %}