{% extends "UnisoftAssetsBundle::layout.html.twig" %}
{% block title %}Asset Activities - Home{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('notice2') %}
<div  class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button> 
    <ul>
        <li>{{ flashMessage|nl2br }}</li>
    </ul>
</div>
{% endfor %}

<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="tab-header">{% trans %}Activities creation{% endtrans %}</div>
            <div class="row-fluid">
                <div class="span6">
                    <div class="padded">
                        <div class="row-fluid">
                            <div class="span12">
                                <form action="{{ path('activities_create') }}" method="post" {{ form_enctype(form) }}>

                                    <div class="padded">

                                        <table>
                                            <tr><td> {{ form_label(form.changeInValue) }}</td><td> {{ form_widget(form.changeInValue) }}</td></tr>
                                            <tr><td> {{ form_label(form.notes) }}</td><td>  {{ form_widget(form.notes) }}</td></tr>
                                            <tr><td> {{ form_label(form.asset) }}</td><td>  {{ form_widget(form.asset) }}</td></tr>
                                        </table>
                                    </div>    
                                    {#print CSRF token field instead of form_rest(form) http://stackoverflow.com/questions/9905735/ #}
                                    {{ form_widget(form._token) }}
                                    <button type="submit" class="button blue">{% trans %}Create{% endtrans %}</button>
                                    <a href="{{ path('activities') }}" class="button">{% trans %}Back to the list{% endtrans %}</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}