{% extends "AcmeDemoBundle::layout.html.twig" %}


{% block content %}
<div class="left-sidebar">
<div class="row-fluid">
    <div class="span6"></div>
              <div class="span6">
                <div class="widget">
                  <div class="widget-header">
                    <div class="title">
                     تعديل على الابواب 
                    </div>
                    </div>
                  <div class="widget-body">
 <form  id="register-form"  class="fill-up" action="{{ path('Doors_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} novalidate>
                        {{ form_widget(edit_form._token) }}
                        {{form_widget(edit_form.name) }} 
                       
        
                    <p>
       <button class="btn btn-success bottom-margin pull-right" type="submit" id="success" style="margin-left:7px">حفظ</button>
       <button type="reset"class="btn btn-warning bottom-margin pull-right" style="margin-left:7px">ألغاء</button>
        <a href="{{path('Doors_admincp')}}" class="btn btn-info pull-right">عودة الى الابواب</a>

    </p><br>   
                  </form>
                  </div>
                </div>
              </div>
            </div>
    </div>
    
 <script type="text/javascript" charset="utf-8">
    $(".delete_entity").click(function(){
        var confirmed=confirm('سوف يتم حذف هذا السجل');
        if(!confirmed){
            return false;
            }
     
        });
        
   
    </script>
{% endblock %}












