{% extends "UnisoftAssetsBundle::layout.html.twig" %}
{% block title %}{% trans %}Cost center creation{%endtrans%}{% endblock %}

{% block content %}
{% for flashMessage in app.session.flashbag.get('notice2') %}
          <div  class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button> 
  <ul>
                    <li>{{ flashMessage|nl2br }}</li>
 </ul>
          </div>
{% endfor %} 
      
{% for flashMessage in app.session.flashbag.get('notice1') %}
            <div  class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ flashMessage }}
	   </div>
        
{% endfor %} 
<div class="row-fluid">
  <div class="span12">

    <div class="box">
      <div class="tab-header">{% trans %}Cost Center Creation{%endtrans%}<span class="pull-right"></span>
      </div>
     <form class="fill-up" action="{{ path('Cost_create') }}" method="post" {{ form_enctype(form) }} novalidate>
        {{ form_widget(form._token) }}
              
          <div class="row-fluid">
          <div class="span6">
            <div class="padded">
             
             <div class="input">
             {{form_widget(form.costCenterNo) }}
            <span class="input-error" data-title="{% trans %}please write a Cost Center Number{%endtrans%}" data-original-title="">
                <i class="icon-info-sign"></i>&nbsp;&nbsp;&nbsp;
           </span> 
            </div> 
              
            <div class="input">             
            {{form_widget(form.arName) }}
            <span class="input-error" data-title="{% trans %}please write a Arabic Name{%endtrans%}" data-original-title="">
            <i class="icon-info-sign"></i>
            </span>       
            </div>
            <div class="input">
             {{form_widget(form.enName) }}
            <span class="input-error" data-title="{% trans %}please write a English Name{%endtrans%}" data-original-title="">
            <i class="icon-info-sign"></i>
            </span>
            </div>

          </div>
          </div>   
    <br>                            


</div>
 <div class="form-actions">
  <button type="submit" class="button blue" >{% trans %}Create{%endtrans%}</button>
  </form>   
 <a href="{{ path('Cost') }}" class="button">{% trans %}Back to the list{% endtrans %}</a>
 
      </form> 
              
            
        </div>         
       </div>
              
       </div>
      
      </div>
        </div>
<script>
    var arabic_changed=0; 
    var english_changed=0;
    
    $("#unisoft_assetsbundle_costtype_arName").keyup(function () {
       arabic_changed=1;
   //    alert('arabic_changed:' +arabic_changed + ' and english_changed:' + english_changed);
       if(english_changed == 0){
           var value = $(this).val();
          document.getElementById("unisoft_assetsbundle_costtype_enName").value =(value );
       }
    });

  $("#unisoft_assetsbundle_costtype_enName").keyup(function () {
    english_changed=1;
       if(arabic_changed == 0){
    var value = $(this).val();
         document.getElementById("unisoft_assetsbundle_costtype_arName").value =(value );
  }
    });
    
    
    
    
</script>
 
{% endblock %}



